@mixin font-size($fsDes, $lhDes, $lsDes: 0, $fsMob: 1.8, $lhMob: 2.8, $lsMob: 0, $isMono: true) {
  font-size: #{$fsDes}rem;
  line-height: #{$lhDes}rem;
  letter-spacing: $lsDes;

  @if $isMono == false {
    @media (max-width: 991.98px) {
      font-size: #{$fsMob}rem;
      line-height: #{$lhMob}rem;
      letter-spacing: $lsMob;
    }
  }
}



/* Headline config */
h1, .h1 {
  @include font-size(
          $fsDes: 4.8, $lhDes: 6.0, $lsDes: calc(-1 * 0.015em),
          $fsMob: 2.8, $lhMob: 3.6, $lsMob: calc(-1 * 0.005em),
          $isMono: false)
}

h2, .h2 {
  @include font-size(
          $fsDes: 3.8, $lhDes: 4.8, $lsDes: calc(-1 * 0.005em),
          $fsMob: 2.8, $lhMob: 3.6, $lsMob: calc(-1 * 0.005em),
          $isMono: false)
}

h3, .h3 {
  @include font-size($fsDes: 3.0, $lhDes: 4.0, $fsMob: 2.4, $lhMob: 3.4, $isMono: false)
}

h4, .h4 {
  @include font-size($fsDes: 2.4, $lhDes: 3.4, $fsMob: 2.0, $lhMob: 2.8, $isMono: false)
}

h5, .h5 {
  @include font-size($fsDes: 2.0, $lhDes: 2.8, $fsMob: 1.8, $lhMob: 2.8, $isMono: false)
}


/* Headline mono config */

// Desktop size
.h1-des {
  @include font-size($fsDes: 4.8, $lhDes: 6.0, $lsDes: calc(-1 * 0.015em), $isMono: true)
}

.h2-des {
  @include font-size($fsDes: 3.8, $lhDes: 4.8, $lsDes: calc(-1 * 0.005em), $isMono: true)
}

.h3-des {
  @include font-size($fsDes: 3.0, $lhDes: 4.0, $isMono: true)
}

.h4-des {
  @include font-size($fsDes: 2.4, $lhDes: 3.4, $isMono: true)
}

.h5-des {
  @include font-size($fsDes: 2.0, $lhDes: 2.8, $isMono: true)
}

// Mobile size
.h1-mob {
  @include font-size($fsDes: 2.8, $lhDes: 3.6, $lsDes: calc(-1 * 0.005em), $isMono: true)
}

.h2-mob {
  @include font-size($fsDes: 2.8, $lhDes: 3.6, $lsDes: calc(-1 * 0.005em), $isMono: true)
}

.h3-mob {
  @include font-size($fsDes: 2.4, $lhDes: 3.4, $isMono: true)
}

.h4-mob {
  @include font-size($fsDes: 2.0, $lhDes: 2.8, $isMono: true)
}

.h5-mob {
  @include font-size($fsDes: 1.8, $lhDes: 2.8, $isMono: true)
}


/* Body config */
$body-font-sizes: (
                ('lg', 'light', 2.0, 2.8 ),
                ('lg', 'regular', 1.8, 2.8 ),
                ('lg', 'semiBold', 1.8, 2.8 ),
                ('md', 'light', 1.6, 2.4 ),
                ('md', 'regular', 1.6, 2.4 ),
                ('md', 'semiBold', 1.6, 2.4 ),
                ('sm', 'light', 1.4, 2.2 ),
                ('sm', 'regular', 1.4, 2.2 ),
                ('sm', 'semiBold', 1.4, 2.2 ),
);

@each $size, $style, $fs, $lh in $body-font-sizes {
  .body-#{$size}--#{$style} {
    font-size: #{$fs}rem;
    line-height: #{$lh}rem;
    @if $style == 'light' {
      font-weight: var(--font-weight-light);
    } @else if $style == 'regular' {
      font-weight: var(--font-weight-regular);
    } @else if $style == 'semiBold'{
      font-weight: var(--font-weight-semiBold);
    }
  }
}


/* Editorial config */
.editorial--intro-copy {
  @include font-size($fsDes: 2.4, $lhDes: 3.8, $fsMob: 1.8, $lhMob: 3.0, $isMono: false);
  font-weight: var(--font-weight-semiBold);
}
.editorial--body-copy {
  @include font-size($fsDes: 2.0, $lhDes: 3.5, $fsMob: 1.8, $lhMob: 3.0, $isMono: false);
  font-weight: var(--font-weight-regular);
}

.editorial--quote-bold {
  @include font-size($fsDes: 3.2, $lhDes: 4.4, $fsMob: 2.4, $lhMob: 3.4, $isMono: false);
  font-weight: var(--font-weight-semiBold);
  font-style: italic;
}
.editorial--attribution {
  @include font-size($fsDes: 2.0, $lhDes: 3.6, $fsMob: 1.6, $lhMob: 3.2, $isMono: false);
  font-weight: var(--font-weight-semiBold);
  font-style: italic;
}


/* Form config */
.input-label {
  @include font-size($fsDes: 1.4, $lhDes: 2.0, $isMono: true);
  font-weight: var(--font-weight-bold);
}

.input-error {
  @include font-size($fsDes: 1.4, $lhDes: 2.0, $isMono: true);
  font-weight: var(--font-weight-semiBold);
}


/* Others config */
$others-font-sizes: (
                ('nav-1st-level', 'regular', 2.2, 3.2, 2.0, 2.724, false),
                ('primary-link', 'semiBold', 2.0, 2.8, 1.8, 2.6, false),
                ('eyebrow', 'bold', 2.0, 3.2, 1.6, 2.6, false),
                ('eyebrow-small', 'semiBold', 1.4, 2.4, 0, 0, true),
                ('utility', 'bold', 1.4, 2.0, true),
                ('label', 'bold', 1.4, 2.4, 0, 0, true),
                ('label--sm', 'bold', 1.2, 2.2, 0, 0, true),
                ('footer-link', 'semiBold', 1.2, 1.6, 0, 0, true),
                ('tag', 'semiBold', 1.4, 1.6, true),
                ('disclaimer', 'regular', 1.1, 1.6, 0, 0, true)
);

@each $name, $font-weight, $fsDes, $lhDes, $fsMob, $lhMob, $isMono in $others-font-sizes {
  .typo-#{$name} {
    @include font-size($fsDes: $fsDes, $lhDes: $lhDes, $fsMob: $fsMob, $lhMob: $lhMob, $isMono: $isMono);
    font-weight: map-get($plib-font-weight, $font-weight);
    @if $name == 'utility' or $name == 'tag' {
      font-style: italic;
    }

    @if $name == 'label' or $name == 'label--sm' {
      text-transform: uppercase;
    }
  }
}


/* Font weight config */
.text--light { font-weight: var(--font-weight-light) }
.text--regular { font-weight: var(--font-weight-regular) }
.text--semiBold { font-weight: var(--font-weight-semiBold) }
.text--bold { font-weight: var(--font-weight-bold); }

/* Other font configs */
.text-strike-through {
  text-decoration: line-through;
}