.hero {
	background-image: url('./images/icon/icon-radio-box.svg');
	// background-image: url('./images/icon/btn-circle-play--red.svg');
	background-size: cover;
	background-position: center;
	min-height: 300px;
	width: 100%;
}
