@mixin loader-content(
  $width: 78px,
  $height: 78px,
  $margin-x: 32px,
  $margin-y: 32px,
  $url: url("images/spinner/spinner-md.png"),
) {
  width: $width;
  height: $height;
  margin: $margin-y $margin-x;
  background-image: $url;
  background-position: center;
  background-repeat: no-repeat;
  animation: spinner 2.5s linear infinite;
}

@mixin spinner($bg: var(--color-white), $border-radius: 8px, $shadow: 0 15px 30px rgba(0, 0, 0, 0.05)){
  box-shadow: $shadow;
  background-color: $bg;
  border-radius: $border-radius;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  height: 100%;
  &-spinner--md {
    @include spinner();
    .loader-content {
      @include loader-content();
    }
  }

  &-spinner--lg {
    @include spinner();
    .loader-content {
      @include loader-content(80px, 80px, 40px, 40px, url("images/spinner/spinner-lg.png"));
    }
  }

  &-spinner--oval {
    @include spinner(var(--color-red), 100px, none);
    .loader-content {
      @include loader-content(32.77px, 29px, 32px, 12px, url("images/spinner/spinner-oval.png"));
    }
  }
}
