@font-face {
	font-family: 'plib';
	src: url('fonts/icomoon.eot?ye371t');
	// src: url('../../fonts/icomoon.eot?ye371t'); /* IE9 Compat Modes */
	src: url('fonts/icomoon.eot?ye371t#iefix') format('embedded-opentype') /* IE6-IE8 */,
		url('fonts/icomoon.woff?ye371t') format('woff') /* Pretty Modern Browsers */,
		url('fonts/icomoon.ttf?ye371t') format('truetype') /* Safari, Android, iOS */,
		url('fonts/icomoon.svg?ye371t#icomoon') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
